@import "../../styles/breakpoints";

form {
    padding:0% 4%;

    input[type="text"],
    input[type="password"]
    {
        display:block;
        line-height:3em;
        width:calc(100% - 20px);
        font-size:2.5em;
        margin:0px 0px 10px 0px;
        padding:0px 10px;
    }

    button[type=submit] {
        width:100%;        
        padding:0px;
        border:0px;
        margin:0 auto;
        font-size:2.5em;
        line-height:3em;
    }
}

@media only screen and (min-width: $screen-sm-min) { 


}

@media only screen and (min-width: $screen-md-min) { 


}

@media only screen and (min-width: $screen-lg-min) { 


}
